html {scroll-behavior: smooth;}

body {
    background: var(--bg-b);
    color: var(--bg-w);
    font: 2.6rem/1.55 'Pretendard'; serif;
}

h2 {
    font: bold 2.8rem "Work Sans", "Arial Black", Gadget, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 2em;
}

/*------- Cursor-Custom-START -------*/
* {
    cursor:none;
}

.cursor {
    z-index:1000;
    width:30px;
    height:30px;
    border-radius:50%;
    position:fixed;
    pointer-events:none;
    mix-blend-mode:difference;
}


.cursor .ani-1 {
    animation:ani-1;
    animation-duration:6s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    background-color:transparent;
}

@keyframes ani-1 {
    0% {
    transform:rotate(0deg);
    }
    
    100% {
    transform:rotate(360deg);
    }
}

/*------- header-menu-star -------*/
#nav {
    /* mix-blend-mode: difference; 요소 혼합 모드 */
    z-index: 100;
    position: relative;
}
#nav .headflex{height:80px; position:fixed; width:100%; background:rgba(0,0,0,0);}


#nav .headflex.hover{background:rgba(0,0,0,0.2); /*box-shadow: 0px 0px 5px gray;*/}

#nav > * {position: fixed;}

#nav .logo {
    margin: auto;
    left: 50%;
    top: 0.9rem;
    position: absolute;
}

#nav .menu li {
    font: bold 1.5rem "Work Sans", "Arial Black", Gadget, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#nav .menu > li > a{
    position:relative;
    color: var(--bg-t);
    -webkit-text-stroke: 0.5px var(--bg-w);
}

#nav.active .menu {
    visibility: visible;
    pointer-events: pointer;
}

#nav .menu li.active a {
    color: var(--bg-1);  
    text-decoration-line: overline;
    text-decoration-color: var(--bg-1);
}

#nav .menu > li a:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-height: 0;
    color: var(--bg-1);
    content: attr(data-hover);
    transition: 0.35s;
}

#nav .menu > li a:hover:before {
    /* -webkit-text-stroke: 0.1px var(--bg-1); */
    max-height: 100%;
    transition: max-height 0.35s linear;
}

#nav .Pmenu {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 1.5rem 0 0;
}
#nav .Pmenu li {
    padding: 0 0 0 2rem;
    -ms-writing-mode: inherit;
    writing-mode: inherit;
}
#nav .Pmenu li:nth-child(3) {
    margin-left: auto;
    padding: 0 2rem 0 0;
}

#nav .Pmenu li:last-child {padding: 0 2rem 0 0;}

#nav.active .Pmenu {transition-delay: 0.2s;}

#nav .Mmenu {
    top:58px;
    right:-20px;
    height: 100vh;
    visibility: hidden;
    width: 35px;
    display: none;
}

#nav .Mmenu li {
    padding: 0.75em 0;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

/* header-ham-menu */
.nav-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    display: none;
    height: 35px;
    position: fixed;
    top: 15px;
    right: 15px;
    transition: background 0.3s;
    width: 35px;
}

.nav-icon span {
    position: absolute;
    top: 15px;
    left: 5px;
    background: var(--bg-w);
    display: block;
    height: 3px;
    right: 5px;
    transition: transform 0.3s;
}
.nav-icon span:before,
.nav-icon span:after {
    width: 100%;
    height: 3px;
    background: var(--bg-w);
    content: "";
    display: block;
    left: 0;
    position: absolute;
}
.nav-icon span:before {top: -8px;}
.nav-icon span:after {bottom: -8px;}
.active .nav-icon span {transform: rotate(90deg);}
/*------- header-menu-end -------*/

/*------- container-star -------*/
#container > section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border: 2px solid;
}

.intro-section {
    text-align: center;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-3);
}

.bubble-effect-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    opacity: 60%;
}

.bubble-effect-1__canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main-start */
#container .minArea {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    overflow: hidden;
    color: var(--bg-b);
    padding: 1em 2em 0;
}

#container .minArea:after {
    background: url("https://cdn.jsdelivr.net/gh/solmopark/portfolio24/docs/img/profile_img.png")
        bottom center no-repeat;
    background-size: cover;
    content: "";
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    left: 0;
    /*filter: grayscale(1);*/
    filter: opacity(0.5);
    z-index: 1;
}

#container .minArea .minbox {
    /* mix-blend-mode: difference; */
    display: flex;
    width: auto;
    align-items: center;
    flex-flow: column;
    line-height: normal;
}

#container .minArea .minbox > * {
    width: 100%;
    font-family: var(--f_ogg);
    font-size: var(--fs-xl);
    text-align: end;
    line-height: 100%;
}
#container .minArea .minbox > *:nth-child(1) {text-align: start;}

#container .minArea .minbox > *:last-child {
    padding: 1rem 0;
    font-size: 2rem;
}

#container .minArea .minbox .text {position: relative; white-space: nowrap;}

#container .minArea .minbox .text:nth-child(1):after {
    background-image: url("https://cdn.jsdelivr.net/gh/solmopark/portfolio24/docs/img/dco_star2.png");
    bottom: -50px;
    left: 0;
}
@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#container .minArea .minbox .text:nth-child(2):after {
    background-image: url("https://cdn.jsdelivr.net/gh/solmopark/portfolio24/docs/img/dco_star2.png");
    top: -40px;
    right: 0;
}

#container .minArea .minbox .text:after {
    content: "";
    background-size: cover;
    position: absolute;
    width: 60px;
    height: 60px;
    -moz-animation: blink 0.8s ease-in-out infinite alternate;
    animation: blink 0.8s ease-in-out infinite alternate;
}

#container .minArea .mintext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-s);
}

#container .minArea .mintext .txt {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30%;
}

#container .minArea .mintext .txt .t1 {
    display: flex;
    text-align: start;
    align-items: baseline;
}

#container .minArea .mintext .txt .t2{margin:1rem 0 0;}

#container .minArea .t1 .star {
    margin-right: 5px;
    -webkit-animation: star 3s linear infinite both;
    animation: star 3s linear infinite both;
}

@-webkit-keyframes star {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes star {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* 회전형 arrow*/
.link {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    font: 300 1.55rem/1.4 "Josefin Sans";
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.3em;
    text-decoration: none;
    z-index: 15;
}

.link__svg {
    width: 100%;
    height: auto;
    transform-box: fill-box;
    fill: var(--bg-b);
    stroke: var(--bg-1);
    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(90deg);
}
.link:hover .link__arrow {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.link__arrow {
    stroke-width: 0.075em;
    transform-origin: 50% 50%;
    transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.link__text {
    -webkit-animation: rotateReverse normal infinite 20s linear;
    animation: rotateReverse normal infinite 20s linear;
    transform-origin: 50% 50%;
    letter-spacing: 0.25rem;
}

.link:hover .link__text {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotateReverse {
    to {
        transform: rotate(-360deg);
    }
}
@keyframes rotateReverse {
    to {
        transform: rotate(-360deg);
    }
}

/*------- container-end -------*/


/*------- roll-text-start -------*/
#roll-text {
    width: 100vw;
    font-size: var(--fs-m);
    font-weight: 900;
    margin: 0 auto;
    overflow: hidden; /* 스크롤 사라짐 */
    background-color: var(--bg-b);
    transition: background-color 300ms linear;
}

.track {
    overflow: hidden;
    width: 4000px;
    white-space: nowrap;
    height: 90px;
    text-align: center;
}

.track .text {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    animation: roll 30s linear 1s infinite alternate;
    will-change: transform;
}

@keyframes roll {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-35%);
    }
}

#roll-text .track .text.-twox {
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
}

#roll-text .track .text.-r {
    -webkit-animation-name: -r;
    animation-name: -r;
}

@keyframes -r {
    0% {
        transform: translateX(-37%);
    }
    100% {
        transform: translateX(5%);
    }
}

#roll-text .track:hover .text {
    /* roll -> 애니메이션 멈춤 */
    animation-play-state: paused;
}

#roll-text .track .text > .box {
    height: 100%;
    width: calc(100% / 8);
    position: relative;
    color: var(--bg-w);
}

#roll-text .track .text > .box::before {
    content: "•";
    position: absolute;
    font-size: 1rem;
    top: 40%;
    left: 0;
    color:var(--bg-1);
}
#roll-text .track .text .box:hover + ::before {color:var(--bg-w) !important;}

#roll-text .track .text .box .box-t {padding: 20px 0; color:var(--bg-b); -webkit-text-stroke: 1px var(--bg-w);}

#roll-text .track .text .box:hover .box-t {display: none;}

#roll-text .track .text .box .pro-box {
    /* hover -> 내용 */
    height: 100%;
    text-align: center;
    padding: 0 40px;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity:0;
}

#roll-text .track .text .box:hover .pro-box {opacity:1;}

#roll-text .track .text .box .pro-t {
    display: flex;
    padding: 0.8rem 0 0.4rem;
    justify-content: center;
    align-items: center;
    color:var(--bg-b);
    -webkit-text-stroke: 1px var(--bg-1);
}


#roll-text .track .text .box .pro-t img {
    margin-right: 0.5rem;
    width: 10%;
    /* filter: invert(1); */
    filter: var(--ft-1);
}
#roll-text .track .text .box .pro-s {
    /* 퍼센트 바 */
    text-align: center;
    border-radius: 9999px;
    height: 0.5rem;
    border: 1px solid var(--bg-2);
    position:relative;
}

#roll-text .track .text .box .pro-s .bar {height: 100%;}

#roll-text .track .text .box .wi{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    background-color: var(--bg-1);
    height: 100%;
    width:0;
    border-radius: 9999px;
    transition-property: width;
/*   transition-delay: 1s; */
}


#roll-text .track .text .box:hover  .wi {transition:width 0.6s ease-out;}

#roll-text .track .text .box:hover .wi.wi1 {width:95%;}
#roll-text .track .text .box:hover .wi.wi2 {width:75%;}
#roll-text .track .text .box:hover .wi.wi3 {width:50%;}
#roll-text .track .text .box:hover .wi.wi4 {width:45%;}
#roll-text .track .text .box:hover .wi.wi5 {width:65%;}
#roll-text .track .text .box:hover .wi.wi6 {width:70%;}
#roll-text .track .text .box:hover .wi.wi7 {width:65%;}
#roll-text .track .text .box:hover .wi.wi8 {width:65%;}


#roll-text .track .text .box:hover .wi.wi9 {width:70%;}
#roll-text .track .text .box:hover .wi.wi10 {width:85%;}
#roll-text .track .text .box:hover .wi.wi11 {width:85%;}
#roll-text .track .text .box:hover .wi.wi12 {width:70%;}
#roll-text .track .text .box:hover .wi.wi13 {width:85%;}
#roll-text .track .text .box:hover .wi.wi14 {width:75%;}
#roll-text .track .text .box:hover .wi.wi15 {width:50%;}
#roll-text .track .text .box:hover .wi.wi16 {width:60%;}
/*------- roll-text-end -------*/


/*------- content-start -------*/
.content-section {
    --scroll-length: 1.5;
    height: calc(var(--scroll-length) * 100vh);
    width: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.content-section .content .subheading,
.content-section .content .paragraph {
    opacity: 1;
    opacity: calc(1 + var(--viewport-y));
}

.figure {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.figure > img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    color: var(--bg-w);
    padding: 2em;
    font-size: 2.5vmin;
    margin-left: 4rem;
}
.content * {text-shadow: 0 0 4vmin rgba(0, 0, 0, 0.25);}
.content > .header {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 2rem;
    letter-spacing:2px;
}
.content .context{padding: 4rem 0;}

#Portfolio .context .p_t {display:block;}
#Portfolio .context .p_t:nth-child(2){display:none;}

#Portfolio .context:hover .p_t:nth-child(1){display:none;}
#Portfolio .context:hover .p_t:nth-child(2){display:block;}

#Portfolio .con_hover {
    left: calc(42vw - 50px);
    bottom: calc(28vh - 20px);
    position:relative;
    /* animation: blink 3s ease-in-out infinite alternate; */
}

#Portfolio .con_hover::before{
    content: "";
    position: absolute;
    background-image: url('https://cdn.jsdelivr.net/gh/solmopark/portfolio24/docs/img/line01.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: -24px;
    left: -70px;
    width: 200px;
    height: 200px;
    z-index: 10;
    transform: perspective(1px) translateZ(0);
    animation: hover normal infinite 10s ease-in-out;
}
#Portfolio .con_hover::after{
    content: "";
    position: absolute;
    background-image: url('https://cdn.jsdelivr.net/gh/solmopark/portfolio24/docs/img/line02.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 14px;
    left: -140px;
    width: 60px;
    height: 60px;
    transform: perspective(1px) translateZ(0);
    animation: hover-1 normal infinite 10s ease-in-out;
}

@keyframes hover {
    0% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }
    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }
    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }
    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

@keyframes hover-1 {
    16.65% {
        -webkit-transform: skew(-15deg);
        transform: skew(-15deg);
    }
    33.3% {
        -webkit-transform: skew(11deg);
        transform: skew(11deg);
    }
    49.95% {
        -webkit-transform: skew(-7deg);
        transform: skew(-7deg);
    }
    66.6% {
        -webkit-transform: skew(5deg);
        transform: skew(5deg);
    }
    83.25% {
        -webkit-transform: skew(-3deg);
        transform: skew(-3deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.heading {
    font-size: 2.75em;
    margin: 0;
}

.subheading {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

/* ---------------------------------- */
.figure {
    --scale: calc(0.8 + (0.2 * var(--scroll-length) * var(--visible-y)));
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    will-change: transform;
    transform: scale(var(--scale));
}
.figure:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    opacity: calc(var(--visible-y));
}
.figure > img {
    display: block;
    will-change: transform;
    transform: scale(calc(1 / var(--scale)));
}

/* ---------------------------------- */
.char {
    display: inline-block;
    opacity: calc(1 + ((var(--viewport-y) * 1.5) - var(--char-percent)));
}

*,
*:before,
*:after {
    position: relative;
    box-sizing: border-box;
}

.heading,
.intro-heading {font-weight: 700;}

/*------- content-end -------*/

/*------- folder-start -------*/
#Work{  
    display: flex;
    margin:auto 0;
    background:var(--bg-w);
    color:var(--bg-b);
    font-size: var(--fs-300);
}
#container .folderWrap{
    width:1300px;
    margin:auto;
    border:1px solid #c8c8c8;
    border-radius:10px;
    display:flex;
    flex-flow:column;
}

#container .folderWrap .folder-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0.5rem 1rem;
    background:#f5f5f5;
    border-radius:10px 10px 0 0;
}

#container .folderWrap .forder-name{
    border-top:1px solid #c8c8c8;
    border-bottom:1px solid #c8c8c8;
    padding:0.5rem 1rem;
    background:#ededed;
}

#container .folderWrap .user{
    display: flex;   
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;
    height: 100%;
    padding:3rem;
}

#container .folderWrap .user > * {padding:2rem;}
#container .folderWrap .folder {transition: all 0.2s ease-in;}
#container .folderWrap .folder__back {
    position: relative;
    width: 100px;
    height: 80px;
    background: var(--bg-1);
    border-radius: 0px 5px 5px 5px;
}
#container .folderWrap .folder__back::after {
    position: absolute;
    bottom: 98%;
    left: 0;
    content: "";
    width: 30px;
    height: 10px;
    background: var(--bg-1);
    border-radius: 5px 5px 0 0;
}
#container .folderWrap .folder__back .paper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 70%;
    height: 80%;
    background: #e6e6e6;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#container .folderWrap .folder__back .paper:nth-child(2) {
    background: #f2f2f2;
    width: 80%;
    height: 70%;
}
#container .folderWrap .folder__back .paper:nth-child(3) {
    background: white;
    width: 90%;
    height: 60%;
}
#container .folderWrap .folder__back .folder__front {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #afd7f7;
    border-radius: 5px;
    transform-origin: bottom;
    transition: all 0.3s ease-in-out;
}
#container .folderWrap .folder:hover {transform: translateY(-8px);}
#container .folderWrap .folder:hover .paper {transform: translate(-50%, 0%);}
#container .folderWrap .folder:hover .folder__front {transform: skew(15deg) scaleY(0.6);}
#container .folderWrap .folder:hover .right {transform: skew(-15deg) scaleY(0.6);}
/*------- folder-end -------*/


/*------- 3d-swiper-start -------*/
#container .swiperWrap{
    position: relative;
    width: 100%;
    height: 100%;
    margin:auto;
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

#container .swiper {
    width: 100%;
    margin:4rem 0;
    padding: 50px 0;
    position: relative;
}

#container .swiper .swiper-wrapper {
    height: 36rem;
    margin: auto;
}



#container .swiper .swiper-slide {
    width: 400px;
    height: 500px;
    filter: blur(4px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
}

#container .swiper .swiper-slide--one {
    width: 100%;
    height: 50%;
    border-radius:10px 10px 0 0;
}

#container .swiper .swiper-slide-active {filter: blur(0px);}

#container .swiper .swiper-pagination-bullet,
#container .swiper .swiper-pagination-bullet-active {
    background: var(--bg-1);
}

#container .swiper .swiper-slide .dot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    position: absolute;
    width: 40%;
    top: -10%;
    left: 28%;
}

#container .swiper .swiper-slide .dot > * {
    width: 20px;
    height: 20px;
    border: 1px solid var(--bg-w);
    border-radius: 100%;
}

#container .swiper .swiper-slide .swiperTbox {
    text-align: center;
    background: var(--bg-b);
    border-radius: 0 0 10px 10px;
    height:50%;
    overflow:hidden;
    padding: 0 10px;
    display:flex;
    flex-flow:column;
    justify-content:center;
}

#container .swiper .swiper-slide .swiperTbox h2 {margin-bottom: 10px;}

/*-----------------*/
#container .swiper .swiper-slide .move_btn {
    position: absolute;
    bottom: -20%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* nav */
#container .swiper .swiper-slide .fancy-slider-button {
    transition: var(--t-btn);
    outline: none;
    width: 100px;
    z-index: 10;
    transform: translateY(-50%);
    cursor: pointer;
}
#container .swiper .swiper-slide .fancy-slider-button svg {
    display: block;
    transition: var(--t-btn);
}
#container .swiper .swiper-slide .fancy-slider-button .fancy-slider-svg-circle-wrap {
    transition: var(--t-btn);
    transform-origin: -20px 40px;
    opacity: 1;
}
#container .swiper .swiper-slide .fancy-slider-button circle {
    transition: var(--t-btn);
    stroke-width: 2px;
    stroke: var(--bg-w);
    fill: none;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    opacity: 1;
    transform-origin: 0px 0px 0px;
}
#container .swiper .swiper-slide .fancy-slider-button .fancy-slider-svg-arrow {
    transition: var(--t-btn);
    fill: var(--bg-w);
    transform: rotateY(180deg) translate(-55px, 36.1px) scale(1.75);
}
#container .swiper .swiper-slide .fancy-slider-button-prev {left: var(--side-offset);}
#container .swiper .swiper-slide .fancy-slider-button-next {right: var(--side-offset);}

#container .swiper .swiper-slide .fancy-slider-button-disabled {
    opacity: 0.2;
    cursor: default;
}
#container .swiper .swiper-slide .fancy-slider-button .fancy-slider-svg-wrap {transform: translateY(353px);}
#container .swiper .swiper-slide .fancy-slider-button-next .fancy-slider-svg-wrap {
    transform: translateY(353px) rotateY(180deg);
    transform-origin: 80px 0px 0px;
}
#container .swiper .swiper-slide .fancy-slider-button .fancy-slider-svg-line {
    transition: var(--t-btn);
    stroke: var(--bg-w);
    stroke-width: 2;
    transform: translate(50px, 42px);
}
#container .swiper .swiper-slide .fancy-slider-button-prev:not(.fancy-slider-button-disabled):hover svg {transform: translate(-16px);}
#container .swiper .swiper-slide .fancy-slider-button-next:not(.fancy-slider-button-disabled):hover svg {transform: translate(16px);}
#container .swiper .swiper-slide .fancy-slider-button:not(.fancy-slider-button-disabled):hover
.fancy-slider-svg-circle-wrap {transform: scale(1.1);}
#container .swiper .swiper-slide .fancy-slider-button:not(.fancy-slider-button-disabled):hover circle {
    stroke-dasharray: 4px;
    stroke-dashoffset: 4px;
    opacity: 1;
}
#container .swiper .swiper-slide .fancy-slider-button:not(.fancy-slider-button-disabled):hover
.fancy-slider-svg-arrow {
    transform: rotateY(180deg) translate(-40px, 36.1px) scale(1.75);
}
#container .swiper .swiper-slide .fancy-slider-button:not(.fancy-slider-button-disabled):hover
.fancy-slider-svg-line {
    transform: translate(35px, 42px) scaleX(0.5);
}
/*------- 3d-swiper-end -------*/

/*------- cover-start -------*/
#footArea .cover {
    width: 100vw;
    margin-bottom: 12vw;
    display: flex;
    padding:1rem;
}


#footArea .cover:nth-child(1) {
    transform: rotate(-2deg);
    background-color: var(--bg-w);
    color: var(--bg-1);
}

#footArea .cover:nth-child(2) {
    transform: rotate(2deg);
    background-color: var(--bg-1);
    justify-content: flex-end;
    margin-bottom: 4em;
}

#footArea .cover p {
    display: flex;
    padding: 4vh 0;
    font-size: clamp(2vw, 8vw, 5rem);
}
/*------- cover-end -------*/


/*------- Comment-start -------*/

#footArea .Comment-Wrap{
    color:var(--bg-w);
    width:100%;
    display:flex;
    flex-flow:column;
    justify-content:center;
    text-align:center;
    margin:2rem 0; 
}
#footArea .Comment-Wrap h2{
    width:100%;
    color:var(--bg-1);
    margin-bottom:1rem;
}

#footArea .Comment-Wrap hr{
    width:20%;
    margin:0 auto;
}

#footArea .comment-container {
    width:55%;
    margin: 0 auto 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border:1px solid;
    color:var(--bg-w);
    text-align:start;
    word-wrap: break-word;
}
#footArea .comment {
    margin-bottom: 10px;
    border-bottom: 1px dotted var(--bg-w);
    padding-bottom: 15px;
}
#footArea .comment:last-child {
    border-bottom: none;
}
#footArea .comment-header {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: var(--fs-200);
}
#footArea .comment-body {
    margin-bottom: 5px; 
    font-size: var(--fs-300);
}
#footArea .comment-footer {
    font-size: 12px;
    color: #c8c8c8;
}
#footArea #comment-form {
    width: 55.5%;
    margin: 30px auto;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    font-size: var(--fs-200);
    color: var(--bg-w);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#footArea #comment-form input[type="text"],
#footArea #comment-form input[type="email"],
#footArea #comment-form textarea {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--bg-w);
    border-radius: 5px;
    color:var(--bg-w);
    background-color:rgba(0,0,0,0);
}
#footArea #comment-form textarea {
    height: 100px;
}
#footArea #comment-form button {
    background-color: var(--bg-1);
    color: var(--bg-w);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto;
    margin-right:8px;
}
#footArea #comment-form button:hover {
    background-color: #669fcb;
}

/*------- Comment-end -------*/


/*------- footer-start -------*/
#footArea .foot_box {
    display: flex;
    flex-flow:row;
    align-items:flex-end;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height:100%;
    color:var(--bg-w);
    padding:2rem;
}

#footArea .since {
    font-size: clamp(6vh, 6vh, 6rem);
    line-height: 1.1;
    font-family: Ogg, sans-serif;
    font-weight: var(--fw-light);
    text-align: left;
}

#footArea small {font-size: var(--fs-200);}


#footArea .social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

#footArea .this {
    font-size: var(--fs-200);
}
/*------- footer-end -------*/



/*------- top-button-start -------*/
#back-top {
    position: fixed; 
    display:none; 
    mix-blend-mode: difference;
    bottom: 4%; 
    right:10px; 
    width:auto;
    z-index:100;
    text-align:center;

    color:var(--bg-w);
    font-size:var(--fs-s);
}
a#back-top:active {background:none;}
a#back-top {
    display: block; 
    text-decoration: none;
}
/*------- top-button-end -------*/



/*------- @media-start -------*/
@media only screen and (max-width: 1920px){
    .track{width:3000px;}
    /* section-2 */
    #Portfolio .con_hover {left: calc(44vw - 50px); bottom: calc(38vh - 20px);}
}

@media only screen and (max-width: 1440px) {
    /* intro-section */
    #container .homeArea .homebox {
        font-size: calc(6.5rem + 0.390625vw);
    }
    /* skill */
    #roll-text .track .text .box::before {top:35%;}

    /* section-2 */
    #Portfolio .con_hover {left: calc(48vw - 50px); bottom: calc(42vh - 20px);}

    /* folder-img */
    #container .folderWrap{width:1250px;}
}

@media only screen and (max-width: 1280px) {
    #nav .menu li {font-size: 1.2rem;}
    
    /* skill */
    .track{height:80px;}
    #roll-text .track .text .box .box-t {padding:18px 0; -webkit-text-stroke: 0.5px var(--bg-w);}
    
    #roll-text .track .text .box .pro-t img {width:8%;}
    #roll-text .track .text .box .pro-t {padding: 0.5rem 0 0.4rem;}
    
    /* folder-img*/
    #container .folderWrap .user {padding:2rem;}
    #container .folderWrap .folder__back{width:90px; height:60px;}
}

@media only screen and (max-width: 1024px) {
    /* header */
    #nav .Pmenu li {font-size: calc(1rem + 0.3vw);}

    /* intro-section */
    #container .minArea {padding: 1em 1em 0;}
    #container .minArea .mintext .txt{width:40%;}
    .link {width: 9rem; height: 9rem;}
    
    /* skill */
    #roll-text .track {width:2000px; height:70px;}
    #roll-text .track .text .box::before {top:30%;}
    #roll-text .track .text .box .box-t {padding:16px 0;}
    #roll-text .track .text .box .pro-box {padding: 0 30px;}
    #roll-text .track .text .box .pro-t {padding:0.6rem 0 0.4rem;}
    #roll-text .track .text .box .pro-t img {width:15%;}
    #roll-text .track .text .box .pro-s {height:0.45rem;}
    
    /* Section-2 */
    #Portfolio .content > .header {width:max-content;}
    #Portfolio .con_hover {left: calc(58vw - 50px); bottom: calc(42vh - 20px);}

    /* folder-img */
    #container .folderWrap {margin:auto 5em;}
}

@media only screen and (max-width: 900px) {
    /* header-Menu */
    #nav .headflex {height: 100%; width: 60px; right: 0;}
    #nav .logo {left: 1.5%; }
    #nav .logo img {max-width: 70%;}

    #nav .menu li {font-size: calc(0.8rem + 0.2vw);}
    #nav .Pmenu {display: none;}
    #nav .Mmenu {display: block;}
    .nav-icon {display: block;}

    /* folder-img */
    #container .folderWrap {margin:auto 3.5em;}
    #container .folderWrap .user {padding: 2rem 0;}
}

@media only screen and (max-width: 768px) {
    /* header */
    #nav .menu li {font-size: calc(0.75rem + 0.2vw);}
    #nav .Mmenu li {padding: 0.4em 0;}

    /* intro-section */
    /*#container .minArea:after {filter: brightness(0.5);}*/ 
    #container .minArea .mintext .txt{width:45%; z-index:10;}
    .link {width: 8rem; height: 8rem;}
    #container .minArea .t1 .star {width: 16px;}
    
    /* skill */
    #roll-text .track{height:60px;}
    #roll-text .track .text .box {color:var(--bg-w);}
    #roll-text .track .text .box::before {top:28%;}
    #roll-text .track .text .box .box-t {-webkit-text-stroke:var(--bg-t); color:var(--bg-w);}
    #roll-text .track .text .box .pro-t {padding:0.6rem 0 0.4rem; color:var(--bg-1); -webkit-text-stroke:var(--bg-t);}
    #roll-text .track .text .box .pro-t img {width:10%;}
    
    /* Section-2 */
    #Portfolio .content > .paragraph {grid-row: inherit;}
    #Portfolio .con_hover {left: calc(64vw - 50px); bottom: calc(44vh - 20px);}

    /* folder-img */
    #container .folder__back {width:80px; height:50px;}

    /*3d-swiper*/
    #container .swiper .swiper-slide {width:330px; height:440px;}
    #container .swiper .swiper-wrapper {height:34.5rem;}
    #container .swiper .swiper-slide .swiperTbox h2{font-size: 2rem;}
    #container .swiper .swiper-slide .fancy-slider-button {width:85px;}

    /*comment*/
    #footArea .comment-container {width: 70%;}
    #footArea #comment-form {width: 70%;}
    #footArea #comment-form button {width: 100%; margin: 0 5px;}

    /*footer*/
    #footArea .foot_box {flex-flow: column; align-items: center; padding: 1rem;}
    #footArea .foot_box >* {margin-bottom:1.5rem;}
    #footArea .foot_box >*:last-child {margin-bottom:0;}
    #footArea .since {text-align:center;}
}

@media (max-width: 640px) {
    /*3d-swiper*/
    #container .swiper .swiper-slide .fancy-slider-button {
        top: auto;
        bottom: var(--m-bottom-offset);
        transform: none;
    }
    #container .swiper .swiper-slide .fancy-slider-button-prev {left: var(--m-side-offset);}
    #container .swiper .swiper-slide  .fancy-slider-button-next {right: var(--m-side-offset);}
}

@media only screen and (max-width: 600px) {
    /* show */
    .w425_hide {display: none;}
    
    /* intro-section */
    #container .minArea .minbox > * {line-height:1.2;}
    #container .minArea .minbox > *:last-child {padding:0; font-size: 1.5rem;}
    #container .minArea .minbox .text:after {width:50px; height:50px;}
    #container .minArea .minbox .text:nth-child(1):after {bottom: -40px; left: -20px;}
    #container .minArea .minbox .text:nth-child(2):after {top: -40px; right: -20px;}
    
    #container .minArea .mintext {flex-direction:column; justify-content:center;}
    #container .minArea .mintext .txt {width:100%;}
    #container .minArea .mintext .txt .t2 {margin:1rem 0;}
    .link {width: 6rem; height: 6rem; margin-top: 3rem;}
    
    /* content */
    .header .context {flex-flow:column; justify-content: center; align-items: flex-start;}
    .header .context > p:nth-child(1) {margin-bottom:1rem;}

    /* folder-img */
    #container .folderWrap .user >* {padding:1rem;}
    #container .folderWrap .folder__back {width:70px; height:50px;}
    #container .folderWrap .folder p {font-size:0.8rem; letter-spacing:-0.025rem;}

}

@media only screen and (max-width: 425px) {
    .mx_20 {margin: 0 1rem;}

    /* header */
    #nav .logo {top: 0.8rem;}
    #nav .logo img {max-width: 60%;}
    #nav .menu li {font-size: calc(0.7rem + 0.2vw);}

    /* intro-section */
    #container .minArea {padding: 1em 1.5rem 0;}
    #container .minArea .minbox > * {line-height: 1.5;}
    
    /* skill */
    #roll-text .track {width: 1400px; height:50px;}
    #roll-text .track .text .box .box-t {padding: 12px 0;}
    #roll-text .track .text .box .pro-t {padding: 0.4rem 0 0.1rem;}
    #roll-text .track .text .box .pro-t img {width:12%;}

    /* folder-img */ 
    #container .folderWrap {margin:auto 2rem;}
    #container .folderWrap .user {align-items:flex-start; padding: 1rem;}
    #container .folderWrap .folder__back {width: 60px; height: 40px;}

    /* 3d-swiper */
    #container .swiper .swiper-wrapper {height:33rem;}
    #container .swiper .swiper-slide .swiperTbox .textArea{font-size:0.85rem;}
}

@media only screen and (max-width: 375px){
    .w375_show {display: block;}

    /* folder-image */
    #container .folderWrap .user {padding: 1rem 0;}
    #container .folderWrap .folder__back {width:50px; height:30px; border-radius: 0px 3px 3px 3px;}
    #container .folderWrap .folder__back .folder__front {border-radius: 3px;}
    #container .folderWrap .folder__back::after {border-radius: 3px 3px 0 0;}
    #container .folderWrap .folder p {font-size:0.8rem; margin-top: 3px;}

    /* 3d-swiper */
    #container .swiper .swiper-slide {width: 300px;}
}

@media only screen and (max-width: 350px) {
    /* intro-section */
    #container .minArea .minbox .text:after {width: 30px; height: 30px;}
    /* 3d-swiper */
    #container .swiper .swiper-slide {width: 280px; height: 400px;}
    #container .swiper .swiper-slide .swiperTbox h2 {letter-spacing: -0.08rem;}
}

/*------- @media-end -------*/
